.image-room {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.image-room-detail {
  width: auto;
  height: 35vh;
  object-fit: cover;
}

.info-room {
  width: 90%;
}
