.image-room {
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-room img {
  width: 100%;
  height: auto;
  margin-left: 28vw;
}

.image-room-detail {
  width: 50%;
  height: 100%;
}

.info-room {
  width: 90%;
}
